<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
	  	<setting name="callSettersOnNulls" value="true"/>
  	</settings>
	<typeAliases>  
		<typeAlias alias="codeVo" type="com.oph.vo.CodeVo" />
		<typeAlias alias="eventVo" type="com.oph.vo.EventVo" />
		<typeAlias alias="userVo" type="com.oph.vo.UserVo" />
	</typeAliases>
	
</configuration>