.wrap {
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	height : auto;
	 -ms-overflow-style: none;
}

.wrap::-webkit-scrollbar{
  display:none;
}

.title_box {
	margin-top: 20px;
	padding-bottom: 0.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
}

.search_box {
	display: flex;
	padding: 20px 0 50px;
}

.search_box p {
	font-size: 18px;
	font-weight: 800;
	margin-right: 80px;
}

.search_box ul{
	display: flex;
	flex-wrap: wrap;
	width: 850px;
	list-style: none;
}

.search_box ul li{
	margin-top: 10px;
}

#evtTable th {
	text-align: center;
}

.search_box ul li input {
	border: 1px solid #ddd;
	width: 270px;
	height: 30px;
	padding: 0 20px;
	box-sizing: border-box;
	margin-right: 10px;
}

.search_box ul li input.search_text{
	width: 550px;
}

.search_box ul li select {
	border: 1px solid #ddd;
	width: 270px;
	height: 30px;
	padding: 0 20px;
	box-sizing: border-box;
	margin-right: 10px;
}

/*20230313�������� width: 150px;box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
.w-btn {
	position: relative;
	border: none;
	display: inline-block;
	width: 150px;
	padding: 15px 30px;
	border-radius: 5px;
	font-family: "paybooc-Light", sans-serif;
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
}

/*20230313�������� box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
.w-btn-1 {
	position: relative;
	border: none;
	display: inline-block;
	padding: 5px 13px;
	border-radius: 5px;
	font-family: "paybooc-Light", sans-serif;
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
}

/*20230313�������� width: 100px;border-radius: 3px; */
.w-btn-2 {
	position: relative;
	border: none;
	display: inline-block;
	width: 100px;
	padding: 5px 13px;
	border-radius: 3px;
	font-family: "paybooc-Light", sans-serif;
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
}

/*20230313�������� color */
.w-btn-blue {
    background-color: #485fc7;
    color: #fff;
    cursor:pointer;
}

/*20230313�������� color */
.w-btn-gray {
    background-color: #34495e;
    color: #fff;
    cursor:pointer;
}

/*20230313�������� color */
.w-btn-green {
    background-color: #3498db;
    color: #fff;
    cursor:pointer;
}

.w-btn-red {
    background-color: #ff0080;
    color: #e3dede;
    cursor:pointer;
}

.marginLeft {
	margin-left: 5px;
}

.totalLine1 {
	width: 800px;
}

.totalLine2 {
	width: 540px;
}

.chkCenter {
	vertical-align: middle !important;
}

/*20230313�������� border: 0;border-radius: 3px; */
.search_btn {
	margin-top: auto;
	width: 270px;
	height: 30px;
	border: 0;
	border-radius: 3px;
	background: #3498db;
	color: #fff;
}