@charset "utf-8";
/************   reset *********************/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*, *:before, *:after {-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit}
.webtong_tab_type02 li.on a, .webtong_tab_type02 li:hover a,
.webtong_tab_type02 li.on a:before, .webtong_tab_type02 li:hover a:before,
{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s
}
/**webtong-tab***/
#contents {padding: 0% 2% 0% 2%}
.title01 {padding: 50px 0 20px}


.webtong_tab_type02 { display:table; width:30%; table-layout:fixed; border-left:1px solid #e7e7e7;position:relative;background-color: #f1f1f1}
.webtong_tab_type02 li { display:table-cell; height:50px}
.webtong_tab_type02 li a { display:block;position:relative;height:50px;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;line-height:50px;text-align:center;background-color: #fff}
.webtong_tab_type02 li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df}
.webtong_tab_type02 li.on a, .webtong_tab_type02 li:hover a {border-bottom-color:#f34b53; border-top:1px solid #f34b53;z-index: 1;background-color: #fd7c82;color:#fff}
.webtong_tab_type02 li.on a:after, .webtong_tab_type02 li:hover a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:-1px; width:1px; background:#f34b53}
.webtong_tab_type02 li.on a:before, .webtong_tab_type02 li:hover a:before { content:''; display:block; position:absolute; top:0; left:0; bottom:-1px; width:1px; background:#f34b53}


@media screen and (max-width: 780px) {
	.webtong_tab_type02 li {float: left;width: 33.33333%}
	.webtong_tab_type02 li:nth-child(n+4) {margin-top: -1px}
	.webtong_tab_type02:before {content: '';background-color: #e7e7e7;width: 1px;bottom: 0;right: 0;top: 0;position: absolute}
	.webtong_tab_type02:after {content: '';background-color: #e7e7e7;height: 1px;bottom: 0;right: 0;position: absolute;left: 0}

}
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}
.two h1 {
  text-transform: capitalize;
}
.two h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #c50000;
}

.two h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}
.alt-two h1 {
  text-align:center;
}
.alt-two h1:before {
  left:50%; margin-left:-30px;
}

