@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}

.scrollDiv {
	overflow: auto;
	height: 100%;
}

#modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.modal_content {
	width: 1000px;
  	margin: 37px auto;
  	padding: 20px 10px;
  	background: #fff;
  	border: 2px solid #666;
  	overflow-y: initial !important;
  	border-radius: 15px;
  	height:	650px;
}

.modal-header {
    padding: 15px;
    margin-top: -20px;
    border-bottom: 2px solid #e5e5e5;
}

.modal-body {
    position: relative;
    padding: 15px;
    margin-bottom: 25px;
    height: 75%;
    overflow-y: auto;  
}

.modal-last {
    padding-top: 15px;
    border-top: 2px solid #e5e5e5;
    text-align: center;
}

.modal_layer {
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, 0.5);
  	z-index: -1;
}

.headerName {
	font-size: 24px;
	font-weight: bold;
}

.close-area {
	display: inline;
	float: right;
	margin-top: 6px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: black;
	width: 22px;
    height: 22px;
    padding-bottom: 1px;
}

.body_header {
	width: 16%;
	text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.modal_tbl {
	text-align: center;
	margin-top: 8px;
	border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.modal_tbl th {
	padding: 20px;
	border: 2px solid #ddd;
	background: #428bca;
	width: 16%;
	font-size: 12px;
	color: white;
}

.modal_tbl td {
	padding: 15px;
	border: 2px solid #ddd;
	background:rgb(242, 242, 242);
	width: 37%;
}

.singleTd {
	width: 84% !important;
}

.top {
	margin-top: 30px;
}

.inputFull {
	width: 100%;
	border-radius: 0.5em;
    border: 1px solid #ddd;
    padding: 4px;
    height: 30px;
    font-size: 15px;
}

.inputHalf {
	width: 76%;
	border-radius: 0.5em;
    border: 1px solid #ddd;
    padding: 4px;
    height: 30px;
    font-size: 15px;
}

.wrapper {
    position: relative;
}

.wrapper span {
    position: absolute;
    right: 15px;
    font-size: 10px;
    padding-top: 3px;
    opacity: 0.7;
    color: red;
}

.saveBtn {
	background-color: #6aafe6;
    color: #ffffff;
    font-size: 15px;
    float: center;
    cursor: pointer;
}

.delBtn {
	background-color: #a3a1a1;
    color: #e3dede;
    font-size: 15px;
    float: center;
    cursor: pointer;
}

.checkBtn {
	background-color: #ffffff;
    color: #000000;
    font-size: 11px;
    float: center;
    cursor: pointer;
}

.addSurvey {
	display: none;
}

.divLeft {
	float: left;
	margin-bottom: 10px;
}

.ctrlBtn {
	margin-left: 10px;
}

input::placeholder {
	font-size:9px;
	opacity: 0.8;
}